<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>898179111221-m8b2jkpl7k5u7u4mfpargjprhcg4snkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898179111221-m8b2jkpl7k5u7u4mfpargjprhcg4snkq</string>
	<key>API_KEY</key>
	<string>AIzaSyCeY2AvyrBAqssyXX3B1-73NynMYYOTYgA</string>
	<key>GCM_SENDER_ID</key>
	<string>898179111221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahaloMe</string>
	<key>PROJECT_ID</key>
	<string>mahalome-7294f</string>
	<key>STORAGE_BUCKET</key>
	<string>mahalome-7294f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898179111221:ios:61e3562a587cb95a</string>
	<key>DATABASE_URL</key>
	<string>https://mahalome-7294f.firebaseio.com</string>
</dict>
</plist>